<launch>

<!--
    fix_translator translates to and from NatSatFix 
    and GPSFix messages.

    If you want to translate from NavSatFix to GPSFix,
    you have to modify the first two remap lines.
   
    If you want to translate from GPSFix to NavSatFix,
    you have to uncomment and modify the last two remap 
    lines.

    Only adjust topic names after "to=" in each remap line.
-->

  <node name="fix_translator" pkg="gps_common" type="fix_translator">
    <!-- Translate from NavSatFix to GPSFix //-->
      <remap from="/navsat_fix_in"  to="ublox_gps/fix"/>       
      <remap from="/gps_fix_out"    to="/gps/fix"/>

    <!-- Translate from GPSFix to NavSatFix //-->
     <!--
       <remap from="/gps_fix_in"     to="/gps/fix"/>   
       <remap from="/navsat_fix_out" to="ublox_gps/fix"/>   
     //-->
  </node>

</launch>

