<launch>
    <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
        <param name="destination_frame" value="merged_laser" />
        <param name="cloud_destination_topic" value="/merged_cloud" />
        <param name="scan_destination_topic"  value="/zed/scan" />
        <param name="laserscan_topics" value="/rplidar/scan /lanes/scan" />
    </node>
</launch>
